USE [master]
GO

-- =============================================
-- 1. SETUP & RESET (Fixed to run on any machine)
-- =============================================

-- If the database exists, kick everyone off and drop it to start fresh
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'RealEstateListingPlatform')
BEGIN
    ALTER DATABASE [RealEstateListingPlatform] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [RealEstateListingPlatform];
END
GO

-- Create the database using YOUR server's default file paths
CREATE DATABASE [RealEstateListingPlatform]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RealEstateListingPlatform].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RealEstateListingPlatform]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[ActorUserId] [uniqueidentifier] NULL,
	[ActionType] [nvarchar](50) NULL,
	[TargetType] [nvarchar](50) NULL,
	[TargetId] [uniqueidentifier] NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[UserId] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[SavedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leads]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leads](
	[Id] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[SeekerId] [uniqueidentifier] NOT NULL,
	[ListerId] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[Message] [nvarchar](max) NULL,
	[AppointmentDate] [datetime] NULL,
	[ListerNote] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingBoosts]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingBoosts](
	[Id] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[UserPackageId] [uniqueidentifier] NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[BoostDays] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingMedia]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingMedia](
	[Id] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[MediaType] [nvarchar](10) NULL,
	[Url] [nvarchar](max) NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingPackages]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingPackages](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[PackageType] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DurationDays] [int] NULL,
	[ListingCount] [int] NULL,
	[PhotoLimit] [int] NULL,
	[AllowVideo] [bit] NOT NULL,
	[BoostDays] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingPriceHistory]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingPriceHistory](
	[Id] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[OldPrice] [decimal](18, 2) NULL,
	[NewPrice] [decimal](18, 2) NULL,
	[ChangedByUserId] [uniqueidentifier] NULL,
	[ChangedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listings]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listings](
	[Id] [uniqueidentifier] NOT NULL,
	[ListerId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[TransactionType] [nvarchar](50) NULL,
	[PropertyType] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[StreetName] [nvarchar](100) NULL,
	[Ward] [nvarchar](50) NULL,
	[District] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Area] [nvarchar](50) NULL,
	[HouseNumber] [nvarchar](50) NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[Bedrooms] [int] NULL,
	[Bathrooms] [int] NULL,
	[Floors] [int] NULL,
	[LegalStatus] [nvarchar](50) NULL,
	[FurnitureStatus] [nvarchar](50) NULL,
	[Direction] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NULL,
	[ExpirationDate] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[UserPackageId] [uniqueidentifier] NULL,
	[IsFreeListingorder] [bit] NOT NULL,
	[MaxPhotos] [int] NOT NULL,
	[AllowVideo] [bit] NOT NULL,
	[IsBoosted] [bit] NOT NULL,
	[PendingSnapshotId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingSnapshots]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingSnapshots](
	[Id] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[TransactionType] [nvarchar](max) NULL,
	[PropertyType] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[StreetName] [nvarchar](max) NULL,
	[Ward] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[Area] [nvarchar](max) NULL,
	[HouseNumber] [nvarchar](max) NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[Bedrooms] [int] NULL,
	[Bathrooms] [int] NULL,
	[Floors] [int] NULL,
	[LegalStatus] [nvarchar](max) NULL,
	[FurnitureStatus] [nvarchar](max) NULL,
	[Direction] [nvarchar](max) NULL,
	[MediaUrlsJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_ListingSnapshots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingTour360]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingTour360](
	[ListingId] [uniqueidentifier] NOT NULL,
	[Provider] [nvarchar](50) NULL,
	[EmbedUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingViews]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingViews](
	[Id] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[IpAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[ViewedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[IsRead] [bit] NULL,
	[Type] [nvarchar](50) NULL,
	[RelatedLink] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[Id] [uniqueidentifier] NOT NULL,
	[ReporterId] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
	[ResolvedBy] [uniqueidentifier] NULL,
	[ResolvedAt] [datetime] NULL,
	[AdminResponse] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NULL,
	[TransactionType] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentReference] [nvarchar](255) NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[PayOSTransactionId] [nvarchar](100) NULL,
	[PayOSCheckoutUrl] [nvarchar](500) NULL,
	[PayOSOrderCode] [bigint] NULL,
	[PayOSQrCode] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPackages]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPackages](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NOT NULL,
	[TransactionId] [uniqueidentifier] NULL,
	[RemainingListings] [int] NULL,
	[RemainingPhotos] [int] NULL,
	[VideoAvailable] [bit] NOT NULL,
	[RemainingBoosts] [int] NULL,
	[PurchasedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/7/2026 4:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[Bio] [nvarchar](500) NULL,
	[IsEmailVerified] [bit] NULL,
	[IsActive] [bit] NULL,
	[LastLoginAt] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[FreeListingsUsed] [int] NOT NULL,
	[MaxFreeListings] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260121084216_InitialCreate', N'9.0.12')
GO
INSERT [dbo].[AuditLogs] ([Id], [ActorUserId], [ActionType], [TargetType], [TargetId], [OldValues], [NewValues], [IPAddress], [CreatedAt]) VALUES (N'6642b8f6-a17f-4acf-99e9-00e49615d654', N'1839f46c-b60e-4967-a77f-cdd4bd6b8415', N'ListingUpdated', N'Listing', N'd9bb2c25-f72c-421d-abc6-907419118294', NULL, NULL, NULL, CAST(N'2026-01-25T10:23:52.187' AS DateTime))
INSERT [dbo].[AuditLogs] ([Id], [ActorUserId], [ActionType], [TargetType], [TargetId], [OldValues], [NewValues], [IPAddress], [CreatedAt]) VALUES (N'c2e7317a-74ff-4e7f-96e0-125f6df5404e', N'1839f46c-b60e-4967-a77f-cdd4bd6b8415', N'ListingDeleted', N'Listing', N'5f8bbc0d-5e3c-4463-96c0-b5cc3563ca30', NULL, NULL, NULL, CAST(N'2026-01-26T13:38:09.410' AS DateTime))
INSERT [dbo].[AuditLogs] ([Id], [ActorUserId], [ActionType], [TargetType], [TargetId], [OldValues], [NewValues], [IPAddress], [CreatedAt]) VALUES (N'4bfa3d45-14c1-4966-938d-143f79b1d9e4', N'1839f46c-b60e-4967-a77f-cdd4bd6b8415', N'ListingCreated', N'Listing', N'f8663c18-96a2-4b71-b6ba-bd5cf66fd5ba', NULL, NULL, NULL, CAST(N'2026-01-26T16:29:09.283' AS DateTime))
GO
INSERT [dbo].[Leads] ([Id], [ListingId], [SeekerId], [ListerId], [Status], [Message], [AppointmentDate], [ListerNote], [CreatedAt]) VALUES (N'a60b7f71-3611-480f-9dc1-28db37487632', N'f42eb2b7-4364-434d-9fa5-fd0d62cb51f6', N'f8e2cc8b-dcf4-4d79-b46a-35a8df579c94', N'1839f46c-b60e-4967-a77f-cdd4bd6b8415', N'Closed', N'hjkjkbnnkhk', NULL, NULL, CAST(N'2026-01-28T01:49:27.777' AS DateTime))
INSERT [dbo].[Leads] ([Id], [ListingId], [SeekerId], [ListerId], [Status], [Message], [AppointmentDate], [ListerNote], [CreatedAt]) VALUES (N'ab2fc794-dfe6-407b-8fa4-89cd2583606a', N'f42eb2b7-4364-434d-9fa5-fd0d62cb51f6', N'e9268670-b771-474a-974f-1ae7dadcbd09', N'1839f46c-b60e-4967-a77f-cdd4bd6b8415', N'New', N'I want to buy this', NULL, NULL, CAST(N'2026-01-28T03:44:20.130' AS DateTime))
INSERT [dbo].[Leads] ([Id], [ListingId], [SeekerId], [ListerId], [Status], [Message], [AppointmentDate], [ListerNote], [CreatedAt]) VALUES (N'91cab3b0-fd82-4cd2-afb9-ae1bdbb47688', N'733987b1-678d-4263-a32d-bd1fb71e9722', N'a2560237-dac5-41ab-9850-4202014bcd43', N'dcf0a3c2-c271-4c7e-b58b-77ea89882494', N'New', N'Chào bạn, mình muốn xem nhà vào Chủ Nhật này ạ.', CAST(N'2026-02-20T09:00:00.000' AS DateTime), NULL, CAST(N'2026-01-21T13:56:53.593' AS DateTime))
GO
INSERT [dbo].[ListingBoosts] ([Id], [ListingId], [UserId], [UserPackageId], [StartDate], [EndDate], [BoostDays], [IsActive], [Status], [CreatedAt]) VALUES (N'3185f749-0ded-41f9-9610-2eeac17009c1', N'f42eb2b7-4364-434d-9fa5-fd0d62cb51f6', N'1839f46c-b60e-4967-a77f-cdd4bd6b8415', N'8e18c2a3-75d8-4da3-88c1-52b28f263c5f', CAST(N'2026-01-27T14:05:04.5281818' AS DateTime2), CAST(N'2026-02-03T14:05:04.5283168' AS DateTime2), 7, 1, N'Active', CAST(N'2026-01-27T14:05:04.5307578' AS DateTime2))
GO
INSERT [dbo].[ListingMedia] ([Id], [ListingId], [MediaType], [Url], [SortOrder]) VALUES (N'dd3dbd8b-1459-4245-a760-008afa1b3ba1', N'f42eb2b7-4364-434d-9fa5-fd0d62cb51f6', N'image', N'/uploads/listings/ac0d7eb2-27b2-4705-bc6c-3c29b71bb536_z7471095290917_e5ceae975a379da973cb20cc1296a872.jpg', 0)
INSERT [dbo].[ListingMedia] ([Id], [ListingId], [MediaType], [Url], [SortOrder]) VALUES (N'2c57ec74-f938-4664-8ca7-11fec3b00608', N'011c2d99-9596-4dd9-85e5-01431085c602', N'image', N'/uploads/listings/49227e7f-786b-4ac9-8e04-e1afe101a972_xang-dau-15880615610991445340358-16089771192941286206475-16444928035042126964402-17466746747291756824335.webp', 0)
INSERT [dbo].[ListingMedia] ([Id], [ListingId], [MediaType], [Url], [SortOrder]) VALUES (N'a1b51745-c422-4def-865e-3dc20c5b8ae0', N'ba3acd18-1e67-4ba3-9e97-ba5c6b8862de', N'image', N'/uploads/listings/5b91901c-ead4-43a2-a865-74844bae9d43_20260128122429-54c2_wm.jpg', 4)
GO
INSERT [dbo].[ListingPackages] ([Id], [Name], [Description], [PackageType], [Price], [DurationDays], [ListingCount], [PhotoLimit], [AllowVideo], [BoostDays], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'f663d282-fcae-4f18-af14-2cd382762258', N'Additional Listing', N'Add one more listing to your account', N'ADDITIONAL_LISTING', CAST(100000.00 AS Decimal(18, 2)), 30, 1, 5, 0, NULL, 1, CAST(N'2026-01-26T16:16:44.0800000' AS DateTime2), CAST(N'2026-01-26T16:16:44.0800000' AS DateTime2))
INSERT [dbo].[ListingPackages] ([Id], [Name], [Description], [PackageType], [Price], [DurationDays], [ListingCount], [PhotoLimit], [AllowVideo], [BoostDays], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'f849f0ea-714e-4c5c-b0c7-6b007fe370a6', N'Boost 7 Days', N'Feature your listing at the top for 7 days', N'BOOST_LISTING', CAST(10000.00 AS Decimal(18, 2)), 30, NULL, NULL, 0, 7, 1, CAST(N'2026-01-26T16:16:44.0800000' AS DateTime2), CAST(N'2026-01-26T16:16:44.0800000' AS DateTime2))
INSERT [dbo].[ListingPackages] ([Id], [Name], [Description], [PackageType], [Price], [DurationDays], [ListingCount], [PhotoLimit], [AllowVideo], [BoostDays], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'c10ac825-0574-45ae-bfc3-7096d3401d80', N'Video Upload', N'Enable video uploads for your listing', N'VIDEO_UPLOAD', CAST(150000.00 AS Decimal(18, 2)), 30, NULL, NULL, 1, NULL, 1, CAST(N'2026-01-26T16:16:44.0800000' AS DateTime2), CAST(N'2026-01-26T16:16:44.0800000' AS DateTime2))
GO
INSERT [dbo].[ListingViews] ([Id], [ListingId], [UserId], [IpAddress], [UserAgent], [ViewedAt]) VALUES (N'5bd24507-adea-4a03-91e8-00f2d46062ce', N'f42eb2b7-4364-434d-9fa5-fd0d62cb51f6', N'1839f46c-b60e-4967-a77f-cdd4bd6b8415', N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36 Edg/144.0.0.0', CAST(N'2026-01-28T01:34:12.577' AS DateTime))
INSERT [dbo].[ListingViews] ([Id], [ListingId], [UserId], [IpAddress], [UserAgent], [ViewedAt]) VALUES (N'8fe264af-c75c-4db1-8140-11c4ddd1081c', N'f42eb2b7-4364-434d-9fa5-fd0d62cb51f6', N'e9268670-b771-474a-974f-1ae7dadcbd09', N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36 Edg/144.0.0.0', CAST(N'2026-01-28T03:33:46.537' AS DateTime))
INSERT [dbo].[ListingViews] ([Id], [ListingId], [UserId], [IpAddress], [UserAgent], [ViewedAt]) VALUES (N'ced4115b-1f2b-4484-9fdc-2c51b62ed1e7', N'6549dff0-32b7-4b38-83be-f85fc0b7aa3e', N'1839f46c-b60e-4967-a77f-cdd4bd6b8415', N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36 Edg/144.0.0.0', CAST(N'2026-01-28T04:46:31.160' AS DateTime))
GO
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [IsRead], [Type], [RelatedLink], [CreatedAt]) VALUES (N'27c80624-015a-4081-867f-07ccfb57fa22', N'1839f46c-b60e-4967-a77f-cdd4bd6b8415', N'New Lead Received', N'Nguyễn Anh Khôi has expressed interest in your property: Test Migration', 0, N'Lead', N'/Lister/Leads?highlight=ab2fc794-dfe6-407b-8fa4-89cd2583606a', CAST(N'2026-01-28T03:44:20.550' AS DateTime))
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [IsRead], [Type], [RelatedLink], [CreatedAt]) VALUES (N'bc807e3c-b19b-4d86-afc3-0e7fc6ce67c6', N'dcf0a3c2-c271-4c7e-b58b-77ea89882494', N'Khách hàng mới', N'Nguyễn Sinh Viên vừa nhắn tin cho bạn.', 0, N'Lead', NULL, CAST(N'2026-01-21T13:56:53.593' AS DateTime))
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [IsRead], [Type], [RelatedLink], [CreatedAt]) VALUES (N'd41914f5-6e31-4407-ab4b-326777fda35f', N'1839f46c-b60e-4967-a77f-cdd4bd6b8415', N'New Lead Received', N'Đặng Quang Huy has expressed interest in your property: Test Migration', 0, N'Lead', N'/Lister/Leads?highlight=a60b7f71-3611-480f-9dc1-28db37487632', CAST(N'2026-01-28T01:49:27.820' AS DateTime))
GO
INSERT [dbo].[Transactions] ([Id], [UserId], [PackageId], [TransactionType], [Amount], [Currency], [Status], [PaymentMethod], [PaymentReference], [Notes], [CreatedAt], [CompletedAt], [PayOSTransactionId], [PayOSCheckoutUrl], [PayOSOrderCode], [PayOSQrCode]) VALUES (N'9f43533b-0460-4264-84e6-0d7274174216', N'1839f46c-b60e-4967-a77f-cdd4bd6b8415', N'b3ca82f7-b817-40e9-9c66-9b039707e92d', N'PACKAGE_PURCHASE', CAST(90000.00 AS Decimal(18, 2)), N'VND', N'Pending', N'PAYOS', NULL, NULL, CAST(N'2026-01-27T05:44:01.1924595' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Transactions] ([Id], [UserId], [PackageId], [TransactionType], [Amount], [Currency], [Status], [PaymentMethod], [PaymentReference], [Notes], [CreatedAt], [CompletedAt], [PayOSTransactionId], [PayOSCheckoutUrl], [PayOSOrderCode], [PayOSQrCode]) VALUES (N'ebaeb25d-0f76-4e27-a1f8-14c5de1ffb1c', N'1839f46c-b60e-4967-a77f-cdd4bd6b8415', N'f663d282-fcae-4f18-af14-2cd382762258', N'PACKAGE_PURCHASE', CAST(100000.00 AS Decimal(18, 2)), N'VND', N'Pending', N'VNPAY', NULL, NULL, CAST(N'2026-01-26T16:17:47.4041757' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[UserPackages] ([Id], [UserId], [PackageId], [TransactionId], [RemainingListings], [RemainingPhotos], [VideoAvailable], [RemainingBoosts], [PurchasedAt], [ExpiresAt], [IsActive], [Status]) VALUES (N'41cb1c2d-d602-47f7-b304-045470b7d2a6', N'1839f46c-b60e-4967-a77f-cdd4bd6b8415', N'7ab23273-01e0-4c20-ac50-8910bfc0b9fa', N'6e7b2763-a58e-4036-92c7-b2a9df99db59', NULL, 10, 0, 0, CAST(N'2026-01-27T07:31:30.0812727' AS DateTime2), CAST(N'2026-02-26T07:31:30.0801992' AS DateTime2), 1, N'Pending')
INSERT [dbo].[UserPackages] ([Id], [UserId], [PackageId], [TransactionId], [RemainingListings], [RemainingPhotos], [VideoAvailable], [RemainingBoosts], [PurchasedAt], [ExpiresAt], [IsActive], [Status]) VALUES (N'99c57bd7-0547-41c2-b499-05ba3d27fe9c', N'1839f46c-b60e-4967-a77f-cdd4bd6b8415', N'7ab23273-01e0-4c20-ac50-8910bfc0b9fa', N'7f899469-2de2-41b4-8f2f-966c25ccdbe9', NULL, 10, 0, 0, CAST(N'2026-01-27T08:08:25.0104367' AS DateTime2), CAST(N'2026-02-26T08:08:25.0103536' AS DateTime2), 1, N'Pending')
INSERT [dbo].[UserPackages] ([Id], [UserId], [PackageId], [TransactionId], [RemainingListings], [RemainingPhotos], [VideoAvailable], [RemainingBoosts], [PurchasedAt], [ExpiresAt], [IsActive], [Status]) VALUES (N'1074d705-615e-4379-bea1-07b1046df101', N'f8e2cc8b-dcf4-4d79-b46a-35a8df579c94', N'f849f0ea-714e-4c5c-b0c7-6b007fe370a6', N'e4220c32-f9d7-48d1-96a2-7b9585f85f59', NULL, NULL, 0, 1, CAST(N'2026-01-28T07:33:46.0780292' AS DateTime2), CAST(N'2026-02-27T07:33:24.4095159' AS DateTime2), 1, N'Active')
GO
INSERT [dbo].[Users] ([Id], [DisplayName], [Role], [Email], [Phone], [Address], [PasswordHash], [AvatarUrl], [Bio], [IsEmailVerified], [IsActive], [LastLoginAt], [CreatedAt], [UpdatedAt], [FreeListingsUsed], [MaxFreeListings]) VALUES (N'e9268670-b771-474a-974f-1ae7dadcbd09', N'Nguyễn Anh Khôi', N'Seeker', N'kevinsschannel@gmail.com', N'0979091813', NULL, N'4KlpFboKM+9r/fnkeWXGnvKBUei7XiX20XUBAnQ6OKU=', NULL, NULL, 1, 1, NULL, CAST(N'2026-01-28T03:33:12.667' AS DateTime), CAST(N'2026-01-28T03:33:12.667' AS DateTime), 0, 1)
INSERT [dbo].[Users] ([Id], [DisplayName], [Role], [Email], [Phone], [Address], [PasswordHash], [AvatarUrl], [Bio], [IsEmailVerified], [IsActive], [LastLoginAt], [CreatedAt], [UpdatedAt], [FreeListingsUsed], [MaxFreeListings]) VALUES (N'f8e2cc8b-dcf4-4d79-b46a-35a8df579c94', N'Đặng Quang Huy', N'Seeker', N'minhhoang10372@gmail.com', N'0979091813', NULL, N'4KlpFboKM+9r/fnkeWXGnvKBUei7XiX20XUBAnQ6OKU=', NULL, NULL, 1, 1, NULL, CAST(N'2026-01-27T15:15:55.453' AS DateTime), CAST(N'2026-01-27T15:15:55.453' AS DateTime), 0, 1)
INSERT [dbo].[Users] ([Id], [DisplayName], [Role], [Email], [Phone], [Address], [PasswordHash], [AvatarUrl], [Bio], [IsEmailVerified], [IsActive], [LastLoginAt], [CreatedAt], [UpdatedAt], [FreeListingsUsed], [MaxFreeListings]) VALUES (N'a2560237-dac5-41ab-9850-4202014bcd43', N'Nguyễn Sinh Viên', N'Seeker', N'student@fpt.edu.vn', NULL, NULL, N'HASH_PASS_123', N'https://i.pravatar.cc/150?u=student', N'Tìm trọ giá rẻ', 1, 1, NULL, CAST(N'2026-01-21T13:56:53.587' AS DateTime), CAST(N'2026-01-21T13:56:53.587' AS DateTime), 0, 1)
GO
/****** Object:  Index [IX_Listings_PendingSnapshotId]    Script Date: 2/7/2026 4:05:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Listings_PendingSnapshotId] ON [dbo].[Listings]
(
	[PendingSnapshotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingSnapshots_ListingId]    Script Date: 2/7/2026 4:05:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingSnapshots_ListingId] ON [dbo].[ListingSnapshots]
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Transactions_PayOSTransactionId]    Script Date: 2/7/2026 4:05:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_PayOSTransactionId] ON [dbo].[Transactions]
(
	[PayOSTransactionId] ASC
)
WHERE ([PayOSTransactionId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105347CE7345E]    Script Date: 2/7/2026 4:05:35 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Favorites] ADD  DEFAULT (getdate()) FOR [SavedAt]
GO
ALTER TABLE [dbo].[Leads] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Leads] ADD  DEFAULT ('New') FOR [Status]
GO
ALTER TABLE [dbo].[Leads] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ListingBoosts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ListingMedia] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ListingPackages] ADD  DEFAULT ((0)) FOR [AllowVideo]
GO
ALTER TABLE [dbo].[ListingPackages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ListingPriceHistory] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ListingPriceHistory] ADD  DEFAULT (getdate()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT ((0)) FOR [IsFreeListingorder]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT ((5)) FOR [MaxPhotos]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT ((0)) FOR [AllowVideo]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT ((0)) FOR [IsBoosted]
GO
ALTER TABLE [dbo].[ListingViews] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ListingViews] ADD  DEFAULT (getdate()) FOR [ViewedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('VND') FOR [Currency]
GO
ALTER TABLE [dbo].[UserPackages] ADD  DEFAULT ((0)) FOR [VideoAvailable]
GO
ALTER TABLE [dbo].[UserPackages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [FreeListingsUsed]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [MaxFreeListings]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users] FOREIGN KEY([ActorUserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Listings] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Listings]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Users]
GO
ALTER TABLE [dbo].[Leads]  WITH CHECK ADD  CONSTRAINT [FK_Leads_Lister] FOREIGN KEY([ListerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Leads] CHECK CONSTRAINT [FK_Leads_Lister]
GO
ALTER TABLE [dbo].[Leads]  WITH CHECK ADD  CONSTRAINT [FK_Leads_Listings] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Leads] CHECK CONSTRAINT [FK_Leads_Listings]
GO
ALTER TABLE [dbo].[Leads]  WITH CHECK ADD  CONSTRAINT [FK_Leads_Seeker] FOREIGN KEY([SeekerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Leads] CHECK CONSTRAINT [FK_Leads_Seeker]
GO
ALTER TABLE [dbo].[ListingBoosts]  WITH CHECK ADD  CONSTRAINT [FK_ListingBoosts_Listings] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingBoosts] CHECK CONSTRAINT [FK_ListingBoosts_Listings]
GO
ALTER TABLE [dbo].[ListingBoosts]  WITH CHECK ADD  CONSTRAINT [FK_ListingBoosts_UserPackages] FOREIGN KEY([UserPackageId])
REFERENCES [dbo].[UserPackages] ([Id])
GO
ALTER TABLE [dbo].[ListingBoosts] CHECK CONSTRAINT [FK_ListingBoosts_UserPackages]
GO
ALTER TABLE [dbo].[ListingBoosts]  WITH CHECK ADD  CONSTRAINT [FK_ListingBoosts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ListingBoosts] CHECK CONSTRAINT [FK_ListingBoosts_Users]
GO
ALTER TABLE [dbo].[ListingMedia]  WITH CHECK ADD  CONSTRAINT [FK_ListingMedia_Listings] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingMedia] CHECK CONSTRAINT [FK_ListingMedia_Listings]
GO
ALTER TABLE [dbo].[ListingPriceHistory]  WITH CHECK ADD  CONSTRAINT [FK_PriceHistory_Listings] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingPriceHistory] CHECK CONSTRAINT [FK_PriceHistory_Listings]
GO
ALTER TABLE [dbo].[ListingPriceHistory]  WITH CHECK ADD  CONSTRAINT [FK_PriceHistory_Users] FOREIGN KEY([ChangedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ListingPriceHistory] CHECK CONSTRAINT [FK_PriceHistory_Users]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_Listings_ListingSnapshots_PendingSnapshotId] FOREIGN KEY([PendingSnapshotId])
REFERENCES [dbo].[ListingSnapshots] ([Id])
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_Listings_ListingSnapshots_PendingSnapshotId]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_Listings_UserPackages] FOREIGN KEY([UserPackageId])
REFERENCES [dbo].[UserPackages] ([Id])
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_Listings_UserPackages]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_Listings_Users] FOREIGN KEY([ListerId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_Listings_Users]
GO
ALTER TABLE [dbo].[ListingSnapshots]  WITH CHECK ADD  CONSTRAINT [FK_ListingSnapshots_Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingSnapshots] CHECK CONSTRAINT [FK_ListingSnapshots_Listings_ListingId]
GO
ALTER TABLE [dbo].[ListingTour360]  WITH CHECK ADD  CONSTRAINT [FK_ListingTour360_Listings] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingTour360] CHECK CONSTRAINT [FK_ListingTour360_Listings]
GO
ALTER TABLE [dbo].[ListingViews]  WITH CHECK ADD  CONSTRAINT [FK_ListingViews_Listings] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingViews] CHECK CONSTRAINT [FK_ListingViews_Listings]
GO
ALTER TABLE [dbo].[ListingViews]  WITH CHECK ADD  CONSTRAINT [FK_ListingViews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ListingViews] CHECK CONSTRAINT [FK_ListingViews_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Listings] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Listings]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Users] FOREIGN KEY([ReporterId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Users]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Packages] FOREIGN KEY([PackageId])
REFERENCES [dbo].[ListingPackages] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Packages]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users]
GO
ALTER TABLE [dbo].[UserPackages]  WITH CHECK ADD  CONSTRAINT [FK_UserPackages_Packages] FOREIGN KEY([PackageId])
REFERENCES [dbo].[ListingPackages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPackages] CHECK CONSTRAINT [FK_UserPackages_Packages]
GO
ALTER TABLE [dbo].[UserPackages]  WITH CHECK ADD  CONSTRAINT [FK_UserPackages_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPackages] CHECK CONSTRAINT [FK_UserPackages_Users]
GO
ALTER TABLE [dbo].[Leads]  WITH CHECK ADD CHECK  (([Status]='Closed' OR [Status]='Contacted' OR [Status]='New'))
GO
ALTER TABLE [dbo].[ListingMedia]  WITH CHECK ADD CHECK  (([MediaType]='video' OR [MediaType]='image'))
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD CHECK  (([Status]='Violation' OR [Status]='Expired' OR [Status]='Hidden' OR [Status]='Rejected' OR [Status]='Published' OR [Status]='PendingReview' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Admin' OR [Role]='Lister' OR [Role]='Seeker'))
GO
USE [master]
GO